html {
    scroll-behavior: smooth;
}

body {
    background-color: #fefefe;
}

.line {
    position: absolute;
    border-bottom: 1px solid #fefefe;
    width: 50%;
    z-index: 1;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
}

.button {
    background-color: #997a5e;
    border: none;
    color: #fefefe;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    transition: background-color 0.3s, opacity 0.3s;
}

.button:hover {
    background-color: #e6e5e5ee;
}

@keyframes slideTop {
    from {
        transform: translateY(200%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-top {
    animation: slideTop 1s ease-out;
}

.web-view__left-side {
    display: block;
    width: calc(100% - 500px);
}

.web-view__right-side {
    width: 500px;
    margin: unset;
}

@media only screen and (max-width: 1027px) {
    .web-view__left-side {
        display: none;
    }

    .web-view__right-side {
        width: 100%;
        max-width: 500px;
        margin: auto;
        overflow-x: hidden;
        position:relative;
    }
}

.slide,
.slide>div {
    position: absolute;
    width: 100%;
}

.slide>div {
    animation: slide 25s infinite;
    background-position: 50%;
    background-size: cover;
    height: 100%;
    opacity: 0;
    transform: scale(1);
}

.slide>div:nth-child(1) {
    animation-delay: 0s;
}

.slide>div:nth-child(2) {
    animation-delay: 5s;
}

.slide>div:nth-child(3) {
    animation-delay: 10s;
}

.slide>div:nth-child(4) {
    animation-delay: 15s;
}

.slide>div:nth-child(5) {
    animation-delay: 20s;
}

.slide {
    background-color: #000;
    height: 100vh;
    left: 0;
    overflow: hidden;
    top: 0;
    z-index: 1;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    5% {
        opacity: 1;
        transform: scale(1.05);
    }

    25% {
        opacity: 1;
        transform: scale(1.1);
    }

    30% {
        opacity: 0;
        transform: scale(1.15);
    }

    100% {
        opacity: 0;
        transform: scale(1.15);
    }
}

.animation-bounce {
    animation: MoveUpDown 3s linear infinite;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}